site_name: AT2026 CTH Wiki
docs_dir: docs
theme:
  name: readthedocs
  features:
    - navigation.tabs
    - navigation.indexes
    - content.code.copy
    - content.tabs.link
nav:
  - Obecné informace:
      - AT2026 info: index.md
      - TODO: todo_list.md
  - Celotáborová hra:
      - Koncept hry: cth/koncept.md
      - Návrh 1: cth/navrh1.md
      - Návrh 2: cth/navrh2.md
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
      inline_syntax: ['dollar', 'round']
      block_syntax: ['dollar', 'round']
      generic: true
extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
